@model IEnumerable<EmployeesVacations.Models.TeamModel>

@{
    ViewBag.Title = "Index";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-condensed table-hover">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.BusinessUnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamLeadName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamLeadName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTeam}) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTeam }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTeam })
        </td>
    </tr>
}

</table>
