@model EmployeesVacations.ViewModels.EmployeeVacationRequestsViewModel
@using EmployeesVacations.Repositories;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiringDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDaysOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDaysOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysOffLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysOffLeft)
        </dd>

    </dl>
</div>

@{
    EmployeeRepository employeeRepository = new EmployeeRepository();
    if (User.IsInRole("Admin"))
    {
        <br />
    }
    else
    {
        if ((employeeRepository.GetEmployeeByUserId(User.Identity.GetUserId())).DaysOffLeft == 0)
        {
            <p>No days off left unused!</p>
        }
        else
        {
            <p>@Html.ActionLink("Ask for a Vacation", "Create", "VacationRequest")</p>
        }
    }
}

@{ if (Model.EmployeeVacations.Count != 0)
    {
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].DaysRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].FirstApproval)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].SecondApproval)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => Model.EmployeeVacations[0].Status)
                </th>
            </tr>

            @foreach (var item in Model.EmployeeVacations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstApproval)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondApproval)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </table>
    }
}

<p>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</p>
